{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}

{% block contents %}
<br>
<div class="container">
  <div class="row">
    <div class="col offset-3">
      <!-- タイトル -->
       <h2>{{object.title}}</h2>
      <!-- コメント -->
       <p>{{object.comment}}</p>
      <br>
      <!-- 投稿日時 -->
       <p>{{object.posted_at}}に投稿</p>
      <!-- 1枚目の写真 -->
       <p><img src="{{object.imagel.url}}"></p>
      <!-- 2枚目の写真が投稿されていたら表示する-->
       {% if object.image2 %}
       <p><img src="{{ object.image2.url }}"></p>
       {% endif %}
       
       {% if request.user == object.user %}
       <form method="POST">
        <a href="{% url 'photo:photo_delete' object.pk %}" class="btn btn-primary my-2">削除する</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}